{% extends 'base.html' %}


{% block content %}

<div class="container">  
    <div class="row mt-5 mb-3">  
      <div class="col-md-12">  
        <div class="float-left">  
          <h1 class="mb-0">{{events.eventname}}</h1>  
          <p>Exciting New Event</p>  
        </div>  

      </div>  
    </div>  
 
    <!-- Destination --> 
    <div class="row">  
      <div class="col-md-12">  
        <div class="card my-3">  
          <div class="card-body">  
            <div class="media">  
              <img class="align-self-start mr-3" src="{{events.image}}">  
              <div class="media-body">  
                <small class="font-weight-bold text-muted">Only limited tickets avaliable</small>  
                <h3 class="mt-0">{{events.eventname}}</h3>
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Location</label>
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">{{events.location}}</label>  
                <br>
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Date</label>
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">{{events.date}}</label>  
                <br>
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Ticket Quantity</label>
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">{{events.ticketamount}}</label>  
                <br>
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Price per ticket</label>
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">{{events.ticketprice}}</label>  
                <br>
                <a href="#" class="btn btn-danger">Book Tickets</a>  
              </div>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>    
    <div>
      <div class="card">
        <div class="card-text"> {{events.comment}} </div>
        <br>
        {% for comment in events.comments %}
          <div class="d-flex justify-content-between align-items-center"></div>
          {{ comment.comment }}
        {% endfor %}
        <br>
      </div>
      <br>
      <form class="input group mb-3" method="POST" action="/post-comment/{{events.id}}">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Comment</label>
        <label for="colFormLabelLg" class="form-control">{{form.comment}}</label>  
        <div class="col-md-10 col-sm-10">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div> 

{% endblock %}