<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" />
  <title>{% block title %}{% endblock%}</title>
</head>

<body>
  <style>
    .navbar {
      border-bottom: #ffffff 1px solid;
      justify-content: right;
      background-color: black;
    }

    .navbar-brand {
      color: white;
      font-size: x-large;
    }

    .nav-item {
      display: block;
      color: rgb(255, 255, 255);
      padding: 1px 70px;
    }

  </style>

  <header>
    <nav class="navbar navbar-expand-lg bg-black navbar-dark fixed-top">
      <div class="container content">
        <a href="/" class="navbar-brand">Music QLD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="sign_in" class="nav-link" id="sign_in">Login/Sign in</a>
            </li>
            <li class="nav-item">
              <a href="event_creation" class="nav-link">Create/Manage Event</a>
            </li>
            <li class="nav-item">
              <a href="user_booking" class="nav-link">My Bookings</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">{% block content %} {% endblock %}</div>
</body>

</html>
