
            {% extends "base.html" %} {% block title %}Event Details{% endblock%} {% block
              content %}
            
            <style>
    .card {
        border: 2px solid #e7e7e7;
        align-self: center;
        border-radius: 4px;
        padding: .5rem;
        border-width: 3px;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 300px;
        margin-left: 300px;
    }
 

    .jumbotron {
        background-color: rgb(45, 45, 45);
        color: rgb(255, 255, 255);
        padding-left: 50px;
        padding-bottom: 50px;
        padding-top: 100px;
        text-align: center;
        background-color: rgb(100, 128, 101);
    }


    .card-header {
        color: rgb(255, 255, 255);
        text-align: center;
        background-color: rgb(212, 19, 19);
        border: 2px solid #e7e7e7;

    }
              
            </style>
            
            
            <body>
              <div class="jumbotron">
                <h1 class="display-2">R&B Concerts Brisbane</h1>
                <p class="lead">Select From a Range of Concerts Below</p>
              </div>
            </body>
            
            <main>
              <div class="card">
                <div class="card-header">
                  <large class="text-bold">CANCELLED</large>
                </div>
                <img
                  src="https://media.allure.com/photos/5a918caa5de7927461a879bc/2:1/w_3600,h_1800,c_limit/GettyImages-911880464.jpg"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <h2>SZA Concert</h2>
                    <p class="card-text">
                      Ctrl is the debut studio album by American singer SZA. It was released on June 9, 2017, on Top Dawg
            Entertainment and RCA Records. It features guest appearances from Travis Scott, Kendrick Lamar, James
            Fauntleroy, and Isaiah Rashad.
                    </p>
                    <a href="cancelled" class="btn btn-primary">Details</a>
                    
                </div>
              </div>
            
              <div class="card">
                <div class="card-header">
                  <large class="text-bold">CANCELLED</large>
                </div>
                <img src="http://res.cloudinary.com/thefader/image/upload/q_auto:best/wf4nckzrs6mqiib6y6zj.jpg"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <h2>Partynextdoor Concert</h3>
                    <p class="card-text">
                      Partymobile is the third studio album by Canadian singer PartyNextDoor. It was released on March 27, 2020,
            by OVO Sound and Warner Records.
                    </p>
                    <a href="cancelled" class="btn btn-primary">Details</a>
                </div>
              </div>
            
              <div class="card">
                <div class="card-header">
                  <large class="text-bold">CANCELLED</large>
                </div>
                <img src="https://i.iheart.com/v3/re/new_assets/62b5b1ddd3d2e8181b9bd203?ops=contain(1480,0)" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2>Chris Brown Concert</h3>
                    <p class="card-text">
                      Breezy is the tenth studio album by American singer Chris Brown, released on June 24, 2022, as the follow-up
                    to his 2019 album Indigo.
                    </p>
                    <a href="cancelled" class="btn btn-primary">Details</a>
                </div>
              </div>
            
            
              <div class="card">
                  <div class="card-header">
                    <large class="text-bold">CANCELLED</large>
                  </div>
                <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2020/11/03/002509_1346631.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2>Bryson Tiller Concert</h3>
                    <p class="card-text">
                      Anniversary is the third studio album by American singer Bryson Tiller. It was released by RCA Records on
                  October 2, 2020, the fifth anniversary of Tiller's debut studio album, Trapsoul.
                    </p>
                    <a href="cancelled" class="btn btn-primary">Details</a>
                </div>
              </div>
            </main>
            
              {% endblock %}