{% extends "base.html" %}
{% block title %}Register{% endblock%}

{% block content %} 
    <section class="vh-100 bg-image" class="container h-50">
        <div class="row d-flex justify-content-center align-items-center h-50">
            <div class="col-12 col-md-9 col-lg-7 col-xxl-6">
                <div class="card" style="border-radius: 5px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                        <form method="POST">

                            <div class="form-outline mb-4">
                                <label class="form-label" id="name" for="register">Your Name</label>
                                <input type="text" id="register" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline mb-4">
                                <input type="email" id="email" class="form-control form-control-lg" />
                                <label class="form-label" for="register">Your Email</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="password1" class="form-control form-control-lg" />
                                <label class="form-label" for="register">Password</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="password1" class="form-control form-control-lg" />
                                <label class="form-label" for="register">Repeat your password</label>
                            </div>

                            <div class="form-check d-flex justify-content-center mb-5">
                                <input class="form-check-input me-2" type="checkbox" value="" id="register" />
                                <label class="form-check-label" for="register">
                                    I agree all statements in <a href="#!" class="text-body"><u>Terms of
                                            service</u></a>
                                </label>
                            </div>
                                <button type="submit"
                                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>

</header>
{% endblock %}