{% extends "base.html" %}
{% block title %}User booking{% endblock%}

{% block content %} 

  <body>
    <h2 class="text-center"> Your Upcoming Event: </h2>
  </body>

  <main>
    <div class="card">
      <img src="https://hips.hearstapps.com/hmg-prod/images/index5-1655491798.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2>Drake Concert</h3>
          <p class="card-text">
          <p>Date & Time: 18:00 AEST, 19th December 2022 </p>
          <p> Location: Brisbane Convention & Exhibition Centre</p>
          <p> Ticket ID number: ####</p>
          </p>
          <a href="event_detail.html" class="btn btn-primary">Details</a>
      </div>
    </div>


  </main>
{% endblock %}